@model List<NodeValue>;

<div class="nav">
    <a asp-action="Add" class="text-primary btn-primary text-white">Add node</a>
    <a asp-action="SearchNode" class="text-primary btn-primary text-white">Search node</a>
    <a asp-action="SaveToDb" class="text-primary btn-primary text-white">Save changes</a>
</div>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Value</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var row in Model)
    {
        <tr>
            <td>@row.NodeValueId</td>
            <td>@row.Value</td>
            <td><a asp-controller="Home" asp-route-Id="@row.NodeValueId" asp-action="Edit" class="btn mx2 btn-info">Edit</a></td>
            <td><a asp-controller="Home" asp-route-Id="@row.NodeValueId" asp-action="Remove" class="btn btn-danger mx2">Remove</a></td>
        </tr>
    }
</table>    